body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0;
    object-position: center;
    margin: 0;
    /* background-color: #edafb8; */
    background-color: #588b8b;
    border: 0;
}
h1 {
    /* background-color: #4a5759; */
    background-color: #588b8b;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 58px;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    padding: 25px;
}
div {
    margin: 0;
}
#about-div, #resume-div,#projects-div {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float: center;
    max-width: 50% center;
}
h2 {
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h2:hover {
    opacity: 70%;
}
h3:hover {
    opacity: 70%;
}
h4:hover {
    opacity: 70%;
}
h5 {
    opacity: 70%;
}
#bio-paragraph {
    text-align: center;
    justify-content: space-around;
    padding: 0 80px 15px 80px;
    margin: 0
}
#about-div {
    /* background-color: #b0c4b1; */
    background-color: #ffffff;
    color: #588b8b;
    margin: 0;
    padding: 15px;
}
#projects-div {
    /* background-color:#dedbd2 ; */
    background-color: #ffd5c2;
    color: #c8553d;
    margin: 0;
    padding: 15px;
}
#projects-divy {
    padding: 0 80px 15px 80px;
    margin: 0
}
.job-details {
    text-align: left;
}
#resume-div {
    /* background-color: #f7e1d7; */
    background-color: #c8553d;
    color: whitesmoke;
    margin: 0;
    padding: 15px 100px 15px 100px;
}
#resume-paragraph {
    padding: 0 80px 15px 80px;
    margin: 0
}
#edu-details, #volunteer-details{
    list-style: none;
}
footer {
    /* background-color: #edafb8; */
    background-color: #588b8b;
    padding-top: 5px;
    text-align: center;
    justify-content: center space-between;
    list-style: none;

}
a {
    color: whitesmoke;
}
#email {
    color: #c8553d;
    font-weight: bold;
}
a:hover {
    font-weight: 700;
    /* color: #f7e1d7; */
    opacity: 60%;
}
.project-links {
    color: #588b8b;
    font-weight: bold;
}
#email:hover {
    font-weight: 700;
    opacity: 80%;
}
#flexboxfooter {
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: inline-block;
}
@media (max-width: 800px) {
    #bio-paragraph {
        padding: 2px;
        margin: 0;
    }
    #resume-div{
        padding: 2px;
        margin: 0;
    }
    #professional-experience-div {
        text-align: center;
        padding: 1px;
        margin: 0;
        list-style: none;
    }
    h5, ul, li {
        list-style: none;
        padding: 0 2px 0 2px;
        margin: 0;
        text-align: center;
        font-size: smaller;
        /* visibility: hidden; */
    }
    #projects-divy {
        padding: 2px;
        margin: 0;
    }
}
