body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 0;
    object-position: center;
    margin: 0;
    background-color: #edafb8;
    border: 0;
}

h1 {
    background-color: #4a5759;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 64px;
    color: whitesmoke;
    margin: 0;
    text-align: center;
    padding: 15px;
    
}

@media (max-width: 700px) {
    #bio-paragraph {
        padding: 5px;
        margin: 0;
    }
    #resume-paragraph {
        padding: 5px;
        margin: 0;
    }
    #projects-divy {
        padding: 5px;
        margin: 0;
    }
}

div {
    margin: 0;
}

#about-div, #resume-div,#projects-div {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float: center;
    max-width: 50% center;
}

h2 {
    width: 100%;
    margin: 0;
    padding: 5px 0 5px 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h2:hover {
    opacity: 70%;
}
h3:hover {
    opacity: 70%;
}
h4:hover {
    opacity: 70%;
}

h5 {
    opacity: 70%;
}

.job-details {
    text-align: left;
}

#about-div {
    background-color: #b0c4b1;
    color: #4a5759;
    margin: 0;
    padding: 15px;
}

#bio-paragraph {
    text-align: center;
    justify-content: space-around;
    padding: 0 80px 15px 80px;
    margin: 0
}

#resume-div {
    background-color: #dedbd2;
    color: #4a5759;
    margin: 0;
    padding: 15px 100px 15px 100px;
}

#resume-paragraph {
    padding: 0 80px 15px 80px;
    margin: 0
}

#edu-details, #volunteer-details{
    list-style: none;
}

#projects-div {
    background-color: #f7e1d7;
    color: #4a5759;
    margin: 0;
    padding: 15px;
}

#projects-divy {
    padding: 0 80px 15px 80px;
    margin: 0
}

footer {
    background-color: #edafb8;
    padding-top: 5px;
    /* position: fixed;
    height: 10%;
    width: 100%;
    left: 0;
    bottom: 0; */
    text-align: center;
    justify-content: center space-between;
    list-style: none;
}

a {
    color: white;
}
a:hover {
    font-weight: 700;
    /* color: #f7e1d7; */
    opacity: 60%;
}

#flexboxfooter {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    display: inline-block;
}


